<!-- %Tag(FULL)%-->
<launch>
    <include file="$(find tricopter)/launch/joy.launch" />

    <node name="tricopter_inputs_processor" pkg="tricopter" type="inputs_processor.py" />
    <node name="tricopter_comm" pkg="tricopter" type="comm.py" output="screen" />
    <node name="tricopter_visualization" pkg="tricopter" type="visualization.py" output="screen" />

</launch>
<!-- %EndTag(FULL)%-->
