<!-- %Tag(FULL)%-->
<launch>
    <include file="$(find tricopter)/launch/comm.launch" />

    <node pkg  = "rosbag"
          type = "record"
          name = "tricopter_rosbag"
          args = "--output-prefix=$(find tricopter)/bagfiles/tricopter
                  -a
                  -x '/rosout|/rosout_agg|/diagnostics' " />
</launch>
<!-- %EndTag(FULL)%-->
