<!-- %Tag(FULL)%-->
<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy" name="tric_joy" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0" />
  </node>

  <node pkg="tricopter" type="comm.py" name="tric_comm"/>
  <node pkg="tricopter" type="tric_joy_publisher.py" name="tric_joy_publisher"/>

</launch>
<!-- %EndTag(FULL)%-->
