<!-- %Tag(FULL)%-->
<launch>

 <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="triJoy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0" />
  </node>

  <node pkg="tricopter" type="comm.py" name="triComm"/>

</launch>
<!-- %EndTag(FULL)%-->
